* {
  box-sizing: border-box;
}

html {
  background: #050a20;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  padding-left: 40%;
  color:#fff;
}

ol {
  padding: 10px;
  margin-top: 2px;
}

li {
  list-style-type: none;
  margin: 1px;
}

p {
  margin: 2px !important;
}

.square {
  background: #fff;
  border: 2px solid #3e3e3e;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 34px;
  height: 78px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 78px;
}

.winner-square {
  background: #ffd380;
  border: 2px solid #ffeb78;
  float: left;
  font-size: 34px;
  font-weight: bold;
  color: #fff;
  line-height: 34px;
  height: 78px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 78px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  padding-left: 70px;
  margin-bottom: 16px;
  color: #fff;
}

.winner-status {
  padding-left: 70px;
  font-weight: 600;
  background-color: #ffd380;
  margin-bottom: 10px;
  color: #fff;
  border: solid #ffd380;
  border-radius: 5%;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  align-items: center;
}

.history {
  font-size: 12px;
  font-weight: 700;
  background-color: #b40000;
  border: solid 1px #000000;
  border-radius: 5px;
}

.toggle {
  margin-left: 10px;
}

.history-square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 8px;
  height: 35px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 35px;
}

.history-board {
  padding: 65px;
}
